.btn_pagar {
              -webkit-tap-highlight-color: transparent;
              --sumr-52468ac626ce5cbe2f67d5e19261ea339d2e2b15-clr-plcehol: #CCC;
              --sumr-dsk-left: 30px;
              --sumr-dsk-right: 30px;
              --sumr-dsk-bottom: 30px;
              --sumr-dsk-top: 30px;
              --sumr-dsk-opt-left: 25px;
              --sumr-dsk-opt-right: 25px;
              --sumr-dsk-opt-bottom: 102px;
              --blue: #007bff;
              --indigo: #6610f2;
              --purple: #6f42c1;
              --pink: #e83e8c;
              --red: #dc3545;
              --orange: #fd7e14;
              --yellow: #ffc107;
              --green: #28a745;
              --teal: #20c997;
              --cyan: #17a2b8;
              --white: #fff;
              --gray: #6c757d;
              --gray-dark: #343a40;
              --primary: #007bff;
              --secondary: #6c757d;
              --success: #28a745;
              --info: #17a2b8;
              --warning: #ffc107;
              --danger: #dc3545;
              --light: #f8f9fa;
              --dark: #343a40;
              --breakpoint-xs: 0;
              --breakpoint-sm: 576px;
              --breakpoint-md: 768px;
              --breakpoint-lg: 992px;
              --breakpoint-xl: 1200px;
              --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
              --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
              --sumr-52468ac626ce5cbe2f67d5e19261ea339d2e2b15-clr-start: #4ac959;
              --sumr-52468ac626ce5cbe2f67d5e19261ea339d2e2b15-clr-header: #4ac959;
              box-sizing: border-box;
              -webkit-font-smoothing: antialiased;
              -webkit-text-size-adjust: 100%;
              user-select: text;
              background: none;
              margin: 0;
              font-family: inherit;
              overflow: visible;
              border-radius: 30px!important;
              border: none;
              box-shadow: 0 0 0 0 transparent;
              cursor: pointer;
              font-size: 1em;
              text-align: center;
              animation: wsgbk6XdVclpkaXZKFPJ 300ms cubic-bezier(0.1, 0.79, 1, 1);
              -webkit-appearance: button;
              float: left;
              width: 48%;
              color: #fff;
              font-weight: 700;
              text-transform: uppercase;
              background-color: #ff0505;
              display: inline-block;
              line-height: 1;
              padding: 14px 20px;
              z-index: 99;
              transition: all .3s ease-in-out;
              margin-right: 10px;
}